* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.description {
  font-size: 20px;
}

.underline::after {
  content: "";
  width: 120px;
  height: 10px;
  display: inline-block;
  background: rgba(58, 41, 93, 0.75);
  margin: 4px 10px;
}

section {
  background-color: #e2e9a5;
}
/* ===================================================================================================================== */

/* Nav Bar */

#navbar {
  color: #efecca;
}

.navbar {
  background: rgba(132, 132, 132, 0.8);
  border-bottom: 1px solid rgba(132, 132, 132, 0.8);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#logo {
  font-size: 2rem;
  color: #a5e9ce;
}

#logo:hover {
  color: #e2e9a5;
}

.nav-item {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
}

.navbar-nav .nav-item .nav-link {
  color: #e2e9a5;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #a5e9ce;
}

#nav-btn {
  color: #e2e9a5;
}

#nav-btn:hover {
  color: #a5e9ce;
}
/* ===================================================================================================================== */

/* Home Page */

#Home {
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)),
    url(./Images/Home-background.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#home-title {
  color: #efecca;
  font-size: 50px;
}

#home-sub-title {
  color: #7d9345;
  font-size: 50px;
}

/* ===================================================================================================================== */

/* Projects page styles */

#Dream-destination {
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}

#Calculator {
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}

#Restaurant {
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}

#Projects {
  min-height: 100vh;
  background-color: #e2e9a5;
}

#Project-title {
  font-size: 50px;
}

/* ===================================================================================================================== */

/* About */

#About {
  background-color: #e2e9a5;
}

.about-title {
  font-size: 50px;
}

/* ===================================================================================================================== */

/* Skills */

#Skills {
  background-color: #e2e9a5;
}

#Skills-title {
  font-size: 50px;
}

/* ===================================================================================================================== */

/* Footer  */

#Footer {
  background-color: #e2e9a5;
}
