* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --black: #303030;
  --grey: #bfbfbf;
  --blue: #2e64b5;
}

.description {
  font-size: 20px;
}

.underline::after {
  content: "";
  width: 120px;
  height: 10px;
  display: inline-block;
  background: rgba(46, 100, 181, 0.75);
  margin: 4px 10px;
}

section {
  background-color: var(--black);
}

.edge {
  border-radius: 10px;
}

body {
  color: var(--black);
}
/* ===================================================================================================================== */

/* Nav Bar */

#navbar {
  color: rgba(48, 48, 48, 0.84);
}

.navbar {
  background: rgba(132, 132, 132, 0.8);
  border-bottom: 1px solid rgba(132, 132, 132, 0.8);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#logo {
  width: 50px;
  box-shadow: 1px 1px 8px rgba(191, 191, 191, 0.84);
  border-radius: 50%;
}

#logo:hover {
  color: var(--grey);
}

.nav-item {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
}

.navbar-nav .nav-item .nav-link {
  color: var(--grey);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--blue);
  text-shadow: 1px 1px 8px rgba(191, 191, 191, 0.84);
}

#nav-btn {
  color: var(--grey);
}

#nav-btn:hover {
  color: var(--blue);
  text-shadow: 1px 1px 8px rgba(191, 191, 191, 0.84);
}
/* ===================================================================================================================== */

/* Home Page */

#Home {
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)),
    url(./Images/Home-background.gif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Home-logo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#home-title {
  color: var(--grey);
  font-size: 50px;
}

#home-sub-title {
  color: var(--blue);
  font-size: 50px;
}

/* ===================================================================================================================== */

/* Projects page styles */
#Projects {
  min-height: 100vh;
  background-color: var(--black);
}

#Projects .container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

#Project-title {
  font-size: 50px;
}

#Dream-destination {
  width: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}
.Dream-destination-text {
  text-shadow: 1px 1px 6px rgba(191, 191, 191, 0.84);
}

#Calculator {
  width: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}

.Calculator-text {
  text-shadow: 1px 1px 6px rgba(191, 191, 191, 0.84);
}

#Restaurant {
  width: 90%;
  margin: auto;
  box-shadow: 3px 4px 18px 5px rgba(0, 0, 0, 0.7);
}
.Restaurant-text {
  text-shadow: 1px 1px 6px rgba(191, 191, 191, 0.84);
}

.project-links {
  color: var(--blue);
  background-color: var(--grey);
}

.project-links:hover {
  color: var(--grey);
  background-color: var(--blue);
}

/* ===================================================================================================================== */

/* About */

#About {
  background-color: var(--black);
}

#About .container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

.about-title {
  font-size: 50px;
}

/* ===================================================================================================================== */

/* Skills */

#Skills {
  background-color: var(--black);
}

#Skills .container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

#Skills-title {
  font-size: 50px;
}

#Skills .card {
  background-color: var(--black);
  color: var(--blue);
}

#Skills .card:hover {
  background-color: var(--blue);
  color: var(--black);
}

.card-shadow {
  box-shadow: 0px 0px 16px 5px rgba(109, 106, 106, 0.6);
}

/* ===================================================================================================================== */

/* Resume */

#Resume .container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

#Me {
  width: 160px;
}

/* ===================================================================================================================== */

/* Testimonials */

#Testimonials .container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

.test-img {
  width: 50px;
  margin-right: 0;
}

/* ===================================================================================================================== */

/* Contact */

#Contact #Contact-container {
  background-color: var(--grey);
  box-shadow: 0px 1px 13px 8px #434141;
}

#Form {
  width: 100%;
}

.social {
  font-size: 60px;
  color: var(--blue);
}

.social:hover {
  color: rgba(46, 100, 181, 0.7);
}

.contact-name {
  width: 100%;
}

#Name {
  width: 100%;
  border-radius: 10px;
}

.contact-email {
  width: 100%;
}

#Email {
  width: 100%;
  border-radius: 10px;
}

.Subject {
  width: 100%;
}

#Subject {
  width: 100%;
  border-radius: 10px;
}

.Message {
  width: 100%;
}

#Message {
  width: 100%;
  border-radius: 10px;
}

#send {
  background-color: var(--blue);
  color: var(--black);
  font-size: 1rem;
  font-weight: 650;
  border: 1px solid var(--black);
}

#send:hover {
  background-color: var(--black);
  color: var(--blue);
  border: 1px solid var(--blue);
}

#reset {
  background-color: var(--blue);
  color: var(--black);
  font-size: 1rem;
  font-weight: 650;
  border: 1px solid var(--black);
}

#reset:hover {
  background-color: var(--black);
  color: var(--blue);
  border: 1px solid var(--blue);
}

/* ===================================================================================================================== */

/* Footer  */

#Footer {
  background-color: var(--black);
  color: var(--grey);
}

/* ===================================================================================================================== */

/* Media Queries */

@media screen and (max-width: 760px) {
  .owl-carousel .owl-item img {
    width: 50%;
  }
  .title-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  #Dream-destination {
    height: 200px;
  }

  #Calculator {
    height: 200px;
  }

  #Restaurant {
    height: 200px;
  }
}
